<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/form.css">
  <title><%= @title %></title>
</head>
<body>
<header>
  <h1><%= @title %></h1>
<nav>
  使い方
  <ul>
   <li>テキストエリアにデッキレシピを貼り付ける。(MTGA, MOのリストが使用出来ます)</li>
   <li>変換ボタンを押す。</li>
   <li>テキストエリアに結果が出力されます。(変換出来なかったカードは空白になります)</li>
   <li>対応しているフォーマットはヒストリックです。</li>
  </ul>
</nav>
</header>
<%= yield %>
</body>
</html>
