<form action="" method="POST">
<div class="box1">
    <textarea name="deck_list"><%= @deck_list %></textarea>
</div>
<div class="box2">
    <button type="submit" class="btn btn-primary btn-lg">変換</button>
</div>
</form>
