<form action="" method="POST">
  <div class="box">
    <div class="textarea">
      <textarea name="deck_list" placeholder="Deck&#13;&#10;4 Teferi, Hero of Dominaria (DAR) 207&#13;&#10;&#13;&#10;Sideboard&#13;&#10;2 The Elderspell (WAR) 89"><%= @deck_list %></textarea>
    </div>
    <div class="submit_button">
      <button type="submit" class="btn btn-primary btn-lg">変換</button>
    </div>
  </div>
</form>
