<form action="" method="POST">
<div class="box1">
    <textarea name="input_list"><%= @input_list %></textarea>
</div>
<div class="box2">
    <textarea><%= @output_list %></textarea>
</div>
<div class="box3">
    <button type="submit">変換</button>
</div>
</form>
