body {
    color: #000000;
    background: #66cdaa;
}

textarea {
    resize: both;
    width:600px;
    height:800px;
}

.box {
    width: 750px;
}

.textarea {
    float: left;
    margin: 10px;
}

.submit_button {
    float: left;
    margin: 10px;
}